@import ./variables.sass

// Typografie
hr
  background-color: $farbe-basis-1

.latest-update
  color: $farbe-kommentar-1

.comment
  color: $farbe-kommentar-1

// Navigation
#main-navigation > section > p, #responsive-navigation-content > footer > p
  color: $farbe-kommentar-1

#main-navigation > table > tbody > tr, #responsive-navigation-content > section > section > table > tbody > tr
  color: $farbe-kommentar-1
  -webkit-transition: all 0.4s ease-out
  -moz-transition: all 0.4s ease-out
  -o-transition: all 0.4s ease-out
  transition: all 0.4s ease-out

.current-page
  color: $farbe-basis-1 !important

#responsive-navigation-header, #responsive-navigation-content
  background-color: $farbe-basis-2

// Blogeinträge
.tea-tags
  color: $farbe-kommentar-1

// Bewertungen, Reviews
.rating
  background-color: $farbe-kommentar-1

.rating > section
  background-color: $farbe-basis-3

.rating-dropdown > header > .material-icons
  color: $farbe-kommentar-1

// Hintergrundfarbe / Betonung
.background-emphasis
  background-color: $farbe-basis-3

// Platzhalter-Farbe für Formularelemente
input::placeholder
  color: $farbe-kommentar-1

input:-ms-input-placeholder
  color: $farbe-kommentar-1
  
input::-ms-input-placeholder
  color: $farbe-kommentar-1
