html
  font-family: 'Inter', Helvetica, Arial, Verdana, sans-serif
  // font-feature-settings: 'ss01' 1
  font-feature-settings: 'ss02' 1
  // font-feature-settings: 'ss03' 1
  // font-feature-settings: 'dlig' 1
  font-size: 1em
  font-weight: 300
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4, h5, h6
  font-weight: 700
  line-height: 1.2
  margin: 0px 0px 15px 0px

h1
  font-size: 1.6rem

h2
  font-size: 1.5rem

h3
  font-size: 1.4rem

h4
  font-size: 1.3rem

h5
  font-size: 1.2rem

h6
  font-size: 1.1rem

hr
  width: 50%
  height: 4px
  margin: 5px 0px 15px 0px
  border: none

.japanese
  font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif !important

// Blog Entries
.blog-entry > table
  font-size: 1.5rem
  font-weight: 700

.blog-entry p
  line-height: 1.4
  margin: 0px 0px 10px 0px
