.responsive-navigation-show
  margin: 0px !important

.fade-out
  opacity: 0 !important

.fade-in
  opacity: 1 !important

.hide
  display: none !important

.show
  display: block !important


.blog-entry-content-current .current-choice-identifier
  opacity: 1 !important

// ---- cursor-interactions ---- //

nav > table > tr:hover,
.tea-tags > li:hover,
.glossary-entry > header:hover,
.navigation-blog-entry-content ul li:hover
  cursor: pointer