doctype html

html(lang="de")

  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    meta(http-equiv="language" content="en")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="email=yes")
    meta(name="format-detection" content="date=yes")

    meta(name="description" lang="en" content="Blog of an Amateur-Tea-Sommelier")

    meta(name="author" content="André-Pascal Werthwein")
    meta(name="copyright" content="André-Pascal Werthwein")
    meta(name="publisher" content="blog.andrewerthwein.de")
    meta(name="title" lang="en" content="Blog of an Amateur-Tea-Sommelier")
    meta(name="page-topic" lang="en" content="Tea")
    meta(name="audience" lang="en" content="All")
    meta(name="page-type" lang="en" content="Blog")

    meta(name="robots" content="noindex, nofollow")
    meta(name="revisit-after" content="30 days")
    meta(name="expires" content="never")
    meta(name="allow-search" content="no")
    meta(name="google" content="nositelinkssearchbox")
    meta(name="googlebot" content="noindex")

    meta(name="theme-color" content="#FFFFFF")

    //-link(rel="shortcut icon" type="image/x-icon" href="./favicons/favicon.ico")
    //-link(rel="shortcut icon" href="./favicons/favicon.ico")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_32x32.png" sizes="32x32")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_96x96.png" sizes="96x96")
    //-link(rel="apple-touch-icon-precomposed" sizes="57x57" href="./favicons/fallback-touch-icon-57x57-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="60x60" href="./favicons/universal-touch-icon-60x60-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios6-touch-icon-72x72-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="76x76" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios7-touch-icon-76x76-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicons/apple-iphone4+-ipod-touch-retina-ios6-touch-icon-114x114-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicons/apple-iphone4+-ipod-touch-retina-ios7-touch-icon-120x120-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicons/apple-ipad-retina-ios6-touch-icon-144x144-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/touch-icon-ipad.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/apple-ipad-retina-ios7-touch-icon-152x152-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="167x167" href="./favicons/touch-icon-ipad-retina.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="180x180" href="./favicons/apple-touch-icon.png")
    //-link(rel="shortcut icon" sizes="196x196" href="./favicons/chromeapp-touch-icon-196x196-precomposed.png")
    //-meta(name="msapplication-TileColor" content="#ffffff")
    //-meta(name="msapplication-TileImage" content="./favicons/mstile-144x144.png")

    link(rel="stylesheet" href="./css/design.min.css")
    link(rel="stylesheet" href="./css/design-responsive.min.css")

    title Drink Tea, Taste Peace

  body
    nav#navigation-main
      section
        h1 Drink Tea,
          br
          | Taste Peace

      hr

      h2 00
      table
        thead
        tbody
          tr
            td 00
            td &mdash;
            td
              a(href="index.html") Home

      h2 01
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="about-me.html") About me?
          tr
            td 02
            td &mdash;
            td
              a(href="glossary.html") Glossary
          tr
            td 03
            td &mdash;
            td
              a(href="reviews.html") Reviews

      h2 02
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="july.html") 07/2019

      h2 03
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="https://andrewerthwein.de" target="_blank" rel="noopener") Portfolio
          tr
            td 02
            td &mdash;
            td
              a(href="http://fat.link.andrewerthwein.de" target="_blank" rel="noopener") Projects

      h2 04
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="imprint.html") Imprint
          tr
            td 02
            td &mdash;
            td
              a(href="privacy-policy.html") Privacy Policy
          tr.page-current
            td 03
            td &mdash;
            td
              a(href="contact.html") Contact

    div.blog-entries
      div.blog-entry
        table
          thead
          tbody
            tr
              td §§§
              td &mdash;
              td Contact Information
              
        section
          section
            p This Website / Blog is solely dedicated to sharing my passion for Teas from all around world. Therefore, neither this Website / Blog, nor its sub pages, have any kind of commercial character whatsoever. Therefore, I subsequently state Name and Address of the Owner [Service Provider] — André-Pascal Werthwein.&nbsp;
              span.comment [§1 Abs. 4 TMG, §55 Abs. 1 RstV]

            table.contact-details
              thead
              tbody
                tr
                  td Name:
                  td André-Pascal Werthwein
                tr
                  td Address:
                  td Nietzsche Straße 16,
                    br
                    | 68165 Mannheim
                    br
                    | Germany
                tr
                  td &nbsp;
                  td &nbsp;
                tr
                  td E-Mail:
                  td 
                    a(href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x61;&#x6e;&#x64;&#x72;&#x65;&#x77;&#x65;&#x72;&#x74;&#x68;&#x77;&#x65;&#x69;&#x6e;&#x2e;&#x64;&#x65;") &#x69;&#x6e;&#x66;&#x6f;&#x40;&#x61;&#x6e;&#x64;&#x72;&#x65;&#x77;&#x65;&#x72;&#x74;&#x68;&#x77;&#x65;&#x69;&#x6e;&#x2e;&#x64;&#x65;
                tr
                  td Website:
                  td
                    a(href="https://www.andrewerthwein.de" target="_blank" rel="noopener") www.andrewerthwein.de
                    br 
                    a(href="http://fat.link.andrewerthwein.de" target="_blank" rel="noopener") fat.link.andrewerthwein.de
    
    p.update-latest 2019/07/20 00:03

script(src="javascript/responsive-navigation.js")