doctype html

html(lang="de")

  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    meta(http-equiv="language" content="en")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="email=yes")
    meta(name="format-detection" content="date=yes")

    meta(name="description" lang="en" content="Blog of an Amateur-Tea-Sommelier")

    meta(name="author" content="André-Pascal Werthwein")
    meta(name="copyright" content="André-Pascal Werthwein")
    meta(name="publisher" content="blog.andrewerthwein.de")
    meta(name="title" lang="en" content="Blog of an Amateur-Tea-Sommelier")
    meta(name="page-topic" lang="en" content="Tea")
    meta(name="audience" lang="en" content="All")
    meta(name="page-type" lang="en" content="Blog")

    meta(name="robots" content="noindex, nofollow")
    meta(name="revisit-after" content="30 days")
    meta(name="expires" content="never")
    meta(name="allow-search" content="no")
    meta(name="google" content="nositelinkssearchbox")
    meta(name="googlebot" content="noindex")

    meta(name="theme-color" content="#FFFFFF")

    //-link(rel="shortcut icon" type="image/x-icon" href="./favicons/favicon.ico")
    //-link(rel="shortcut icon" href="./favicons/favicon.ico")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_32x32.png" sizes="32x32")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_96x96.png" sizes="96x96")
    //-link(rel="apple-touch-icon-precomposed" sizes="57x57" href="./favicons/fallback-touch-icon-57x57-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="60x60" href="./favicons/universal-touch-icon-60x60-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios6-touch-icon-72x72-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="76x76" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios7-touch-icon-76x76-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicons/apple-iphone4+-ipod-touch-retina-ios6-touch-icon-114x114-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicons/apple-iphone4+-ipod-touch-retina-ios7-touch-icon-120x120-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicons/apple-ipad-retina-ios6-touch-icon-144x144-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/touch-icon-ipad.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/apple-ipad-retina-ios7-touch-icon-152x152-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="167x167" href="./favicons/touch-icon-ipad-retina.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="180x180" href="./favicons/apple-touch-icon.png")
    //-link(rel="shortcut icon" sizes="196x196" href="./favicons/chromeapp-touch-icon-196x196-precomposed.png")
    //-meta(name="msapplication-TileColor" content="#ffffff")
    //-meta(name="msapplication-TileImage" content="./favicons/mstile-144x144.png")

    link(rel="stylesheet" href="./css/design.min.css")
    link(rel="stylesheet" href="./css/design-responsive.min.css")

    title Drink Tea, Taste Peace

  body
    nav#navigation-main
      section
        h1 Drink Tea,
          br
          | Taste Peace

      hr

      h2 00
      table
        thead
        tbody
          tr
            td 00
            td &mdash;
            td
              a(href="index.html") Home

      h2 01
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="about-me.html") About me?
          tr
            td 02
            td &mdash;
            td
              a(href="glossary.html") Glossary
          tr
            td 03
            td &mdash;
            td
              a(href="reviews.html") Reviews

      h2 02
      table
        thead
        tbody
          tr
            td 01
            td &mdash;
            td
              a(href="july.html") 07/2019
              br
              | &times;&nbsp;&nbsp;Monday 01
              sup st
              br
              | &times;&nbsp;&nbsp;Tuesday 02
              sup nd

  input(name="search" type="text" placeholder="Search this Glossary")

  div.glossary-entries
    div.glossary-entry(data-entry="aracha")
      header
        h3 Aracha
      section
        section
          p Aracha is a very basic tea. It basically contains all the parts of the Camellia Sinensis, that can be used to create Tea. So this tea consists of: Leaves, Leaf Stalk, Stems, Leaf Hair as well as broken Leaves. All these ingredients are steamed and rolled.

          p Usually Aracha is beeing finished after it has been sold, which means that Aracha is mainy as basis for other Green Teas to build upon. Aracha is for example used to blend different Flavorprofiles of Sencha.

    div.glossary-entry(data-entry="gyokuro")
      header
        h3 Gyokuro, »Jewel Dew«

      section
        section
          p Gyokuro is one of most high quality Teas Japan has to offer. Of course also within this type of Tea there are different stages of quality. This type of Tea grows for 21 days in the shade before beeing harvested. Gyokuro is grown on a special variety of the Camellia Sinensis, such as Asahi, Okumidori, Yamakai, and Saemidori. This Tea is in need of special care, when prepared. The name »Jewel Dew« refers to the pale green color of the Tea.

          table.tea-data
            thead
            tbody
              tr
                td Tea Leaves
                td ~ 6-10 g / 180 ml
              tr
                td Temperature
                td ~ 50-60 °C
              tr
                td Brewing Time
                td ~ 01:30 Minutes
              tr
                td Infusions
                td ~ 3-4
              tr
                td Prices
                td ¥ 3500&nbsp;
                  span.comment [> € 29,00]

          p The highest quality Gyokuros can be infused with a water temperature of&nbsp;
            span.no-break ~ 40 °C
            | . In some cases even the Ice-Methode can be used.

    div.glossary-entry(data-entry="kukicha")
      header
        h3 Kukicha

      section
        section
          p Kukicha is a japenese Green Tea, which mainly consists of Leaf Veins and Stems, and therefore also contains less theine. The quality of Kukicha is similar to the quality of Sencha.

          p If Kukicha consist of Leaf Vains that were during the preparation of Gyokuro, it is called Karigane or Shiarore to indicate the special taste.

          table.tea-data
            thead
            tbody
              tr
                td Tea Leaves
                td ~ 3-4 g / 180 ml
              tr
                td Temperature
                td ~ 90 °C
              tr
                td Brewing Time
                td ~ 00:35 Minutes
              tr
                td Infusions
                td ~ 3-5

          p The highest quality Gyokuros can be infused with a water temperature of&nbsp;
            span.no-break ~ 40 °C
            | . In some cases even the Ice-Methode can be used.

    div.glossary-entry(data-entry="kamairicha")
      header
        h3 Kamairicha

      section
        section
          p Kamairicha is very different from other Japanese Teas. In fact this Tea doesn't even fit the typical flavor profile of Japenese Green Tea. Very early in the process of creating this Tea, the Leaves are roasted at about&nbsp;
            span.no-break ~ 300 °C
            | . These Leaves are not steamed. Typically this Tea is shaped into comma or Magatama. The shape of the processed Tea Leaves reminds more of Chinese Teas than Japanese.

          p This Tea is said have a slightly roasted flavor and fresh sweetness.

          table.tea-data
            thead
            tbody
              tr
                td Tea Leaves
                td ~ 5 g / 450 ml
              tr
                td Temperature
                td ~ 80 °C
              tr
                td Brewing Time
                td ~ 01:00 Minutes
              tr
                td Infusions
                td ~ 2

    p.update-latest 2019/07/20 00:03

  script(src="javascript/glossary.js")