doctype html

html(lang="de")

  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    meta(http-equiv="language" content="en")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="email=yes")
    meta(name="format-detection" content="date=yes")

    meta(name="description" lang="en" content="Blog of an Amateur-Tea-Sommelier")

    meta(name="author" content="André-Pascal Werthwein")
    meta(name="copyright" content="André-Pascal Werthwein")
    meta(name="publisher" content="blog.andrewerthwein.de")
    meta(name="title" lang="en" content="Blog of an Amateur-Tea-Sommelier")
    meta(name="page-topic" lang="en" content="Tea")
    meta(name="audience" lang="en" content="All")
    meta(name="page-type" lang="en" content="Blog")

    meta(name="robots" content="noindex, nofollow")
    meta(name="revisit-after" content="30 days")
    meta(name="expires" content="never")
    meta(name="allow-search" content="no")
    meta(name="google" content="nositelinkssearchbox")
    meta(name="googlebot" content="noindex")

    meta(name="theme-color" content="#FFFFFF")

    //-link(rel="shortcut icon" type="image/x-icon" href="./favicons/favicon.ico")
    //-link(rel="shortcut icon" href="./favicons/favicon.ico")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_32x32.png" sizes="32x32")
    //-link(rel="icon" type="image/png" href="./favicons/favicon_96x96.png" sizes="96x96")
    //-link(rel="apple-touch-icon-precomposed" sizes="57x57" href="./favicons/fallback-touch-icon-57x57-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="60x60" href="./favicons/universal-touch-icon-60x60-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios6-touch-icon-72x72-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="76x76" href="./favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios7-touch-icon-76x76-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicons/apple-iphone4+-ipod-touch-retina-ios6-touch-icon-114x114-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicons/apple-iphone4+-ipod-touch-retina-ios7-touch-icon-120x120-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicons/apple-ipad-retina-ios6-touch-icon-144x144-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/touch-icon-ipad.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicons/apple-ipad-retina-ios7-touch-icon-152x152-precomposed.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="167x167" href="./favicons/touch-icon-ipad-retina.png")
    //-link(rel="apple-touch-icon-precomposed" sizes="180x180" href="./favicons/apple-touch-icon.png")
    //-link(rel="shortcut icon" sizes="196x196" href="./favicons/chromeapp-touch-icon-196x196-precomposed.png")
    //-meta(name="msapplication-TileColor" content="#ffffff")
    //-meta(name="msapplication-TileImage" content="./favicons/mstile-144x144.png")

    link(rel="stylesheet" href="./css/design.min.css")
    link(rel="stylesheet" href="./css/design-responsive.min.css")

    title Drink Tea, Taste Peace

  body
    nav#navigation-main
      section
        h1 Drink Tea,
          br
          | Taste Peace

      hr

      h2 01
      header.dropdown-header
        p.material-icons keyboard_arrow_down
        p &mdash;
        p 07/2020
      section.dropdown-content
        ul
          li &times;&nbsp;&nbsp;Monday 01
            sup st
          li &times;&nbsp;&nbsp;Monday 01
            sup st

      h2 02
      section.navigation-section
        p 01
        p &mdash;
        p 07/2020
      section.navigation-section
        p 02
        p &mdash;
        p 07/2020
      section.navigation-section
        p 03
        p &mdash;
        p 07/2020

  div.blog-entries
    div.blog-entry.blog-entry-complex(data-topic="lupicia-queens-muscat-oolong")
      header
        h1 001
        h1 &mdash;
        h1 Queen's Muscat Oolong&nbsp;
          sup.comment
            time() [2020/05/06]
      section
        section
        section.navigation-blog-entry-content
          ul
            li.blog-entry-content-current(data-section="description")
              span.current-choice-identifier &times;
              | Description
            li(data-section="evaluation")
              span.current-choice-identifier &times;
              | Evaluation
        section.blog-entry-content
          section.show(data-section="description")
            p Yoo. Because, you might regret it later in life. I know what you're gonna say, son, and you're right, you're right, But Biff just happens to be my supervisor, and I'm afraid I'm not very good at confrontations. I'm writing this down, this is good stuff. Excuse me.

            p Yoo. Because, you might regret it later in life. I know what you're gonna say, son, and you're right, you're right, But Biff just happens to be my supervisor, and I'm afraid I'm not very good at confrontations. I'm writing this down, this is good stuff. Excuse me.

          section(data-section="evaluation")
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="320px" height="320px" data-evaluation="tee")
              g.flavor-profile-grid
                circle(cx="160" cy="160" r="150")
                circle(cx="160" cy="160" r="125")
                circle(cx="160" cy="160" r="100")
                circle(cx="160" cy="160" r="75")
                circle(cx="160" cy="160" r="50")
                circle(cx="160" cy="160" r="25")
                line(x1="160" y1="160" x2="160" y2="10")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(24 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(48 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(72 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(96 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(120 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(144 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(168 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(192 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(216 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(240 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(264 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(288 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(312 160 160)")
                line(x1="160" y1="160" x2="160" y2="10" transform="rotate(336 160 160)")

                //- ticks for the legened
                line(x1="160" y1="0" x2="160" y2="6")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(24 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(48 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(72 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(96 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(120 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(144 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(168 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(192 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(216 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(240 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(264 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(288 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(312 160 160)")
                line(x1="160" y1="0" x2="160" y2="6" transform="rotate(336 160 160)")

              g.flavor-profile-values
                g.chart-polar.hide(data-chart="polar")
                  polyline#flavor-profile(points="" transform="rotate(-90 160 160)")
                g.chart-bar(data-chart="bar")
                  line(x1="160" y1="160" x2="160" y2="")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(24 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(48 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(72 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(96 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(120 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(144 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(168 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(192 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(216 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(240 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(264 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(288 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(312 160 160)")
                  line(x1="160" y1="160" x2="160" y2="" transform="rotate(336 160 160)")

//- script(src="javascript/responsive-navigation.js")
script(src="javascript/blog-entry.js")